* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainWeatherAppContainer {
  padding: 30px;
}

.city {
  background-color: #f6f1f4;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
}
.buttonsCity {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}

.weather {
  background-image: linear-gradient(140deg, #4c2270, #a37697);
  height: 300px;
  width: 55%;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
}

.container-inner {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.content-inner {
  color: white;
  width: 50%;
}

.right-side {
  text-align: right;
  margin-right: 30px;
}

.details {
  background-image: linear-gradient(-140deg, #6e3f98, #a37697);
  height: 300px;
  width: 40%;
  border-radius: 10px !important;
  margin-left: 3%;
}

.details-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
