@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  /* position: relative; */
}

.container__app {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 9s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container__appH2 {
  margin: 20px;
  border-bottom: 1px solid lightgray;
}

.container__appInput {
  margin: 20px;
  padding: 7px;
  border: none;
  border-radius: 12px;
}

.container__appButtons {
  display: flex;
}

.container__appButton {
  margin: 20px 15px 20px 5px;
  padding: 5px;
  padding-bottom: 0.5rem;
  width: 50%;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 0.2vw;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.container__appButton:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.one {
  margin: 10px;
}
